{% extends 'saifF.html.twig' %}

{% block body %}

<h1>{{ blogPost.titre }}</h1>
<img src="{{ blogPost.image }}" alt="Image de l'article">

<div>
  <!-- Bouton de partage Facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ blogUrl }}" target="_blank">
  Partager sur Facebook
  </a>

  <!-- Bouton de partage Twitter -->
  <a href="https://twitter.com/intent/tweet?url={{ blogUrl }}" target="_blank">
  </a>

  <!-- Bouton de partage LinkedIn -->
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ blogUrl }}" target="_blank">
  </a>
</div>
{% endblock %}
